body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}
h1 {
    color: grey;
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: orange;
    text-align: center;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
h2 {
    color: grey;
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkgrey;
    border: 1px solid white;
}